<!doctype html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div class="site-constraint">
            <%= require('html-loader!./partials/header.html') %>
            <div class="main-content"></div>
                test
            </div><!-- end .main-content -->
            <%= require('html-loader!./partials/footer.html') %>
        </div> <!-- end .site-constraint -->
    </body>
</html>
